*~
# Ignore vendor files/folders
vendor/
# Ignore Jetbrains IDE folder
.idea/*
# Ignore vim .swp buffers for open files
.*.swp
.*.swo
# Ignore local development scripts
localdev_*
# Ignore logs
*.log
# Ignore generated version file
cmd/version_vars.go
*.out
